click==8.1.7
lunr==0.7.0.post1
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.18.0
pysimconnect @ file:///Users/hamstray/MSFS-Plugin/pysimconnect
rich==13.9.4
shellingham==1.5.4
typer==0.15.1
typing_extensions==4.12.2
